/* Estilos para el contenedor de login */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f7f7; /* Color de fondo claro */
    font-family: 'Arial', sans-serif; /* Tipografía moderna */
}

.logo {
    width: 150px; /* Ajusta el tamaño según sea necesario */
    height: auto;
    margin-bottom: 30px;
}

h2 {
    font-size: 28px; /* Aumentar tamaño del título */
    font-weight: bold;
    margin-bottom: 20px;
    color: #0057D9; /* Color del título */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Sombra sutil para el título */
}

.input {
    width: 100%; /* Ancho del input */
    height: 45px; /* Altura del input */
    border: 1px solid #ccc; /* Borde más suave */
    border-radius: 5px; /* Bordes redondeados */
    padding: 0 20px; /* Espaciado interno */
    margin-bottom: 15px; /* Margen inferior */
    font-size: 16px; /* Tamaño de la fuente */
    transition: border-color 0.3s, box-shadow 0.3s; /* Transición suave en el borde y sombra */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra del input */
}

.input:focus {
    border-color: #0057D9; /* Color de borde al enfocar */
    outline: none; /* Sin contorno */
    box-shadow: 0 0 5px rgba(0, 87, 217, 0.5); /* Sombra al enfocar */
}

.button {
    width: 100%; /* Ancho del botón */
    background-color: #0057D9; /* Color del botón */
    padding: 15px; /* Espaciado interno */
    border-radius: 25px; /* Bordes redondeados */
    color: white; /* Color del texto */
    font-weight: bold; /* Negrita */
    text-align: center; /* Centrar texto */
    cursor: pointer; /* Cambia a puntero al pasar el mouse */
    border: none; /* Sin borde */
    transition: background-color 0.3s, transform 0.2s; /* Transición suave en el fondo y transformación */
}

.button:hover {
    background-color: #0038A8; /* Color más oscuro al pasar el mouse */
    transform: scale(1.05); /* Efecto de escalado al pasar el mouse */
}

.error {
    color: red; /* Color del mensaje de error */
    margin-bottom: 15px; /* Margen inferior */
}

.success {
    color: green; /* Color del mensaje de éxito */
    margin-bottom: 15px; /* Margen inferior */
}

.register {
    font-size: 14px; /* Tamaño de la fuente */
    margin-top: 10px; /* Margen superior */
}

.register-link {
    color: #007bff; /* Color del enlace */
    cursor: pointer; /* Cambia a puntero al pasar el mouse */
    text-decoration: underline; /* Subrayar el texto */
    transition: color 0.3s; /* Transición suave en el color */
}

.register-link:hover {
    color: #0057D9; /* Cambia color al pasar el mouse */
}